@font-face{
	font-family: 'EspressBeans-Regular';
	src="/fonts/Espresso_Beans.ttf";
	font-display: block;
}/*
@font-face{	
	font-family: 'EspressBeans-Bold';
	src="/fonts/Espresso_Beans_Bold.ttf";
	font-display: block;
}*/
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lora&subset=cyrillic');
body{
	transition: all .2s ease;
	font-family: 'EspressBeans-Regular';
	/*font-family: 'Yeseva One', cursive;*/
	/*font-family: 'Lora', serif;*/
	margin: 0px auto;
	padding: 0px;
	
	box-sizing: border-box!important;
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	color:#ff623b !important;
}
ul{
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
img{max-width: 900px; max-height: 95vh;}
.button{
	cursor:zoom-in;
}
.overlay{
	position:fixed;
	width: 100vw;
	height:100vh;
	top: 0;
	margin: auto;
	display: none;
	text-align: center;
	background-color: rgba(0, 0, 0, .8);
}
.popup{
	position: relative;
	margin: auto;
	max-width: 1200px;
	

}
.close-popup {
	position: relative;
	text-align: center;
	top: 1%;
	left: 95%;
	width: 23px;
	height: 23px;
	cursor: pointer;
	border: 2px solid #000;
	background-color: #fff;
}

.close-popup:before {
	content: '';
	background-color: red;
	position: absolute;
	height: 2px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: red;
	position: absolute;
	height: 2px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}
#map{
	width: 600px;
	height: 400px;
}
.grid{
	display:grid;
	width: 98.8vw;
	text-align: center;
	transition: all .2s ease;
}
.data{
	display: flex;
	margin: auto;
	text-align: center;
	height: 70px;
}

.header{
	display:flex;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	width: 98.8vw;
}
.nav-menu{
	display:flex;
	font-size: 18px;
	padding: 0;
	margin: 0;
	text-align: center;
	padding-top: 20px;
	z-index: 9999;
}
.nav-menu a{
	padding-left:5px;
	padding-right:10px;
}
.icon{
	display: none;
}
#menu-checkbox{
	display: none;
}
.header-right{
	display: inline-flex;
	flex-grow: 2;
	align-items: center;
	justify-content: flex-end;
	margin-right: 20px;

}
.header-right a{
	font-size: 28px;
	color:#ff623b !important;
}
.social-wrapper-instagram{
	margin-left: 20px;
	margin-right: 5px;
}
.social-wrapper{
	margin-right: 5px;
}
.slide-first{

	background-image: url("../img/IMG_2543.JPG");
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 98.8vw;
	background-position: center center;
	min-height: 800px;
}
.slide-second{
	display: flex;
	flex-direction: column;	
	width: 98.8vw;
	min-height: 800px;
}
.slide-third{
	margin: auto;
	width: 98.8vw;
	background-color: gray; 
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	min-height: 800px;
}
.slide-four{
	margin: auto;
	width: 98.8vw;
	height: 100vh;
	min-height: 900px;
	background-image: url("../img/lb1T6MRo07o.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.t-title-first{
	font-family: 'Lora', serif;
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	max-width: 660px;
	margin: auto;
	position: relative;
	margin-top: 90px;
}
.t-description-first{
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.55;
	max-width: 660px;
	margin: auto;
	position: relative;
	
}
.t-title{
	flex-direction: row;
	font-size: 48px;
	font-weight: 600;
	max-width: 960px;
	margin: 90px auto;
	
}
.t-description{
	flex-direction: row;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.45;
	max-width: 960px;
	margin: auto;
}
.foto{
	display: flex;
	min-width: 1200px;
	margin: 30px auto;
	justify-content: space-around;
}
.foto-img-first{
	
	
}
.foto-img{
	display: flex;
	max-width: 560px;
	flex-flow: wrap;
	justify-content: space-between;
	-ms-align-items: stretch;
	align-items: stretch;
}
.full{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
  	right: 0;
  	bottom: 0;
  	padding: 8%;
  	background: #CCC center no-repeat;
  	background: rgba(0, 0, 0, 0.5) center no-repeat;
  	background-size: contain;
  	background-origin: content-box;
}
.t-description-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 5%;
}
.t-description-list-grid{
	display:grid;
	align-items: start;
	margin-left: 15px;
	grid-template: "num list-description"
	". list-description";
}
.list-title{
	grid-area: list-title;
	padding: 0;
	margin: 0;
	font-weight: bold;
}
.list-description{
	grid-area: list-description;
	padding: 0;
	margin-left: 15px;
	word-wrap: break-word;
	font-weight: 300;
	
}
.t-cover{
	background-color: #000;
	width: 50vw;
	margin: auto;
	padding-bottom: 3%;
	margin-top: 5%;
}
/*.slide-third .t-description{
	padding-top: 5%;	
}*/
.slide-four .t-description{
	color: #fff;
}
.circlewrapper{
	background-color: #000;
	height: 60px !important;
	width: 60px !important;
	border-radius: 50%;
	margin-top: 15px;
}
.num{
	grid-area: num;
	text-align: center;
	font-size: 22px;
	padding: 15px;
	color: #fff;
	font-weight: 600;
}
/*.slide-third .t-description-list{
	width: 1150px;
	margin: auto;
	position: relative;
	left: -10%;
}*/
.location{
	max-width: 600px;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
.social{
margin-top: 50px;
}
.footer{
	color:#fff;
	background-color: #000;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 30px;
}
@media screen and (max-width: 1200px){
img{max-width: 700px;}
.foto{
	display: flex;
	flex-wrap: wrap;
	min-width: 560px;
	margin: 30px auto;
	justify-content: space-around;
	}
	/*.slide-third .t-description-list{
		width: 415px;
		flex-direction: column;
		position: static;
	}*/
	.t-description-list-grid{
		margin-top: 20px;
		font-size: 18px;
	}
	.slide-four .t-title{
		font-size: 32px;
	}
}
@media screen and (max-width: 910px){
	.t-description{margin-right: 12px;}
	.header-right a{
		font-size: 16px;
		
	}
	.nav-menu{
		font-size: 14px;
	}
}
@media screen and (max-width: 768px){
/*отсюда меню сворачивается в кнопку*/
	img{max-width: 700px;}
	.foto{max-width: 768px;}
	.header{width: 100vw;position: static;}
	.slide-first{width: 100vw;}
	.slide-second{width: 100vw;}
	.slide-third{width: 100vw;}
	.slide-four{width: 100vw;}
	.t-title-first{margin-top: 45px;}
	.nav-menu{
		font-size: 20px;
	}
	.footer{
		width: 100vw;
	}
	.main-menu{
		display: none;
	}
	.main-menu li{
		width: 100%;
	}
	.data{
		width: 100%;
		display: flex;
	}
	.toggle-button{
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		display: block !important;
		color: #fff;
		cursor: pointer;
		margin-left: 20px;
		z-index: 9999;
	}
	.toggle-button:after{
		content: attr(data-open);
		display: block !important;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block !important;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
	content: attr(data-close);
	}
	.main-menu{
		position: relative;
		top: 50px;
		left: -32px;

	}
	.main-menu li{
		background-color: rgba(0, 0, 0, 0.7);
	}
	.t-description{
		font-size: 20px;
	}
	.t-cover{
		width: 50vw;
	}
	.t-description-list{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
@media screen and (orientation: landscape) and (max-width: 768px){
	.slide-first{min-height: 800px !important;}
	.slide-third{min-height: 900px !important;}
	.slide-four{min-height: 900px !important;}
}
@media screen and (max-width: 620px){
	img{
		max-width: 260px;
		max-height: 260px;
	}
	.t-title-first{
		margin-top: 25px;
	}
	.t-title a{
		font-size: 22px;
		font-weight: bold;
	}
	.foto-img{
		max-width: 270px;
	}
	.foto{
		max-width: 320px;
		min-width: 300px;
	}
	#map{
	width: 400px;
	height: 250px;
	margin: auto;
	}
	.inst{
		font-size: 48px !important;
	}
}
@media screen and (max-width: 480px){
	.close-popup{left: 90%;}
	.grid{
		max-width: 310px;
	}
	.inst{
		font-size: 18px !important;
	}
	.header-right{
		display: none;
	}
	.header{
		position: static;
	}
	.t-title{
		font-size: 22px;
		margin: 45px auto;
	}
	.t-title-first{
		font-size: 28px;
		
	}
	.t-description-first{
		font-size: 16px;
		
	}
	
	.t-description{
		font-size: 14px;
	}
	/*.t-description-list{
		max-width: 300px;
	}*/
	.t-description-list-grid{
		font-size: 14px;
		/*max-width: 250px;*/
	}
	.num{
		font-size: 14px;
		padding-top: 4px !important;
		padding-left: 12px !important;
	}
	.circlewrapper{
		height: 30px !important;
		width: 30px !important;

	}
	#map{
	width: 300px;
	height: 150px;
	margin: auto;
	}
	.foto-img{
		max-width: 270px;
	}
	.foto{
		max-width: 320px;
		min-width: 300px;
	}
	.t-cover{
		width: 70vw;
	}
	.footer{
		font-size: 12px;
	}
}